body {
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    font-family: 'Marvel', sans-serif;
    letter-spacing: 0.2rem; 
    word-spacing: 0.2rem; 
}

.generator {
    border: #dee2e6 dashed 1px; 
}

#gen {
    border-radius: 2.3rem; 
}

#copy {
    border-radius: 2.3rem; 
}

#clear {
    border-radius: 2.3rem; 
}